.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #61dafb;
  padding: 20px 30px;
  font-weight: 600;
}

.product-item {
  padding: 20px;
  border:2px solid black;
  margin:20px;
  height:330px;
  box-shadow:5px 5px grey;
}

